<nav>
    <a href="/" class="logo">THE DESIGN SHOP</a>
    <div>
        <a href="/weekly">Weekly Recommendations</a>
        <a href="/lowPrice">Less than 30$</a>
        <a href="/new">Add</a>
    </div>
</nav>